<header class="bg-primary col-sm-12 text-center text-light p-1">
    <app-toolbar-info [moduleFontIcon]="moduleFontIcon" [moduleName]="moduleName"></app-toolbar-info>
</header>

<div #screen>
  <app-visualisation-toolbar
    [displayType]="displayType"
    [addUserAction]="addUser.bind(this)"
    [expandViewAction]="expandView.bind(this)"
    [contractViewAction]="contractView.bind(this)"
    [notificationsAction]="notifications.bind(this)"
    [exportAction]="export.bind(this)"
    (childNotification)="onChangeOsobaOrIzvod($event)"
    (isExportActive)="exportPicture($event)">
    <!--[filterAction]="filter.bind(this)"-->
  </app-visualisation-toolbar>

  <div id="chart-area">
    <div class="row">
      <div class="col-sm-6">
        <p class="text-center font-weight-bold">
          Ukupan iznos uplata:
          <span *ngIf="zbrojUplata; else nemaUplata">{{ zbrojUplata | currency:'HRK':'symbol':'4.2-2':'hr' }}</span>
          <ng-template #nemaUplata>
            0,00 HRK
          </ng-template>
        </p>
        <div style="display:block;">
          <canvas baseChart
            [datasets]="barChartDataU"
            [labels]="barChartLabelsU"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [colors]="barChartColorU"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
      <div class="col-sm-6">
        <p class="text-center font-weight-bold">
          Ukupan iznos isplata:
          <span *ngIf="zbrojIsplata; else nemaIsplata">{{ zbrojIsplata | currency:'HRK':'symbol':'4.2-2':'hr' }}</span>
          <ng-template #nemaIsplata>
            0,00 HRK
          </ng-template>
        </p>
        <div style="display:block;">
          <canvas baseChart
            [datasets]="barChartDataI"
            [labels]="barChartLabelsI"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [colors]="barChartColorI"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-4 offset-sm-1">
        <p class="text-center font-weight-bold">
          Uplate po zemljama
        </p>
        <div class="chart">
          <canvas baseChart
            [data]="pieChartDataU"
            [labels]="pieChartLabelsU"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColorsI"
            [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
      <div class="col-sm-4 offset-sm-1">
        <p class="text-center font-weight-bold">
          Isplate po zemljama
        </p>
        <div class="chart">
          <canvas baseChart
            [data]="pieChartDataI"
            [labels]="pieChartLabelsI"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColorsU"
            [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
