<header class="bg-primary col-sm-12 text-center text-light p-1">
    <app-topbar-info [moduleFontIcon]="moduleFontIcon" [moduleName]="moduleName"></app-topbar-info>
</header>

<div>
  <!--app-topbar
    [usersImportList]="usersList"
    [addUserAction]="addUser.bind(this)"
    [expandViewAction]="expandView.bind(this)"
    [contractViewAction]="contractView.bind(this)">
  </app-topbar-->

  <div id="chart-area">
    <div class="row">
      <div class="col-sm-4 offset-sm-1">
        <div class="chart d-block">
          <canvas baseChart
            [datasets]="barChartData1"
            [labels]="barChartLabels1"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
      <div class="col-sm-4 offset-sm-1">
        <div class="chart d-block">
          <canvas baseChart
            [datasets]="barChartData2"
            [labels]="barChartLabels2"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-4 offset-sm-1">
        <div class="chart">
          <canvas baseChart
            [data]="pieChartData1"
            [labels]="pieChartLabels1"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
      <div class="col-sm-4 offset-sm-1">
        <div class="chart">
          <canvas baseChart
            [data]="pieChartData2"
            [labels]="pieChartLabels2"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
