<div class="card">
  <div class="card-body">
    <span class="text-right pull-right">
      <a class="close" aria-label="Close" (click)="closeInfobox()">
        <small class="fas fa-times"></small>
      </a>
    </span>

    <section *ngIf="isSelectedActiveUser && node.data">
      <div>Broj računa: <strong>{{node.data.brojRacuna}}</strong></div>
      <div>SWIFT/BIC banke: <span>{{node.data.swift}}</span></div>
      <div>Naziv banke: <span>{{node.data.banka}}</span></div>
    </section>
    <section *ngIf="!isSelectedActiveUser && node.data">
      <div><strong>Račun: {{node.data.brojRacuna}}</strong></div>
    </section>
  </div>
  <div class="card-body" *ngIf="(node.type === 'account' || node.type === 'connectedAccount') && node.data">
    <div class="card mb-2">
      <div class="card-body">
        <div *ngIf="!isSelectedActiveUser">
          <div>Broj računa: <strong>{{node.data.brojRacuna}}</strong></div>
          <div>SWIFT/BIC banke: <span>{{node.data.swift}}</span></div>
          <div>Naziv banke: <span>{{node.data.banka}}</span></div>
          <hr>
        </div>
        <div>
          <span class="mr-1">Isplate s računa:</span>
          <strong *ngIf="node.data.brojIsplata != 0">{{node.data.brojIsplata}}</strong>
          <span *ngIf="node.data.brojIsplata == 0">n/a</span>
        </div>
        <div>
          <span class="mr-1">Ukupan iznos isplata:</span>
          <strong *ngIf="node.data.iznosIsplata">{{node.data.iznosIsplata|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
          <span *ngIf="!node.data.iznosIsplata">n/a</span>
        </div>
        <div>
          <hr>
          <div>
            <span class="mr-1">Ukupno transakcija po računu:</span>
            <strong *ngIf="node.data.brojTransakcija">{{node.data.brojTransakcija}}</strong>
            <span *ngIf="!node.data.brojTransakcija">n/a</span>
          </div>
          <div>
            <span class="mr-1">Ukupan iznos svih uplata:</span>
            <strong *ngIf="node.data.iznosUplata">{{node.data.iznosUplata|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
            <span *ngIf="!node.data.iznosUplata">n/a</span>
          </div>
          <div>
            <span class="mr-1">Ukupan iznos svih isplata:</span>
            <strong *ngIf="node.data.iznosIsplata">{{node.data.iznosIsplata|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
            <span *ngIf="!node.data.iznosIsplata">n/a</span>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <button type="button" class="btn btn-secondary" title="Prikaz detalja računa i transakcija" (click)="expandAccountDetails()">
        <span class="fas fa-binoculars"></span>
        <span class="ml-2">Detalji</span>
      </button>
    </div>
  </div>
</div>
