.filter-group {
    padding: 2%;
    border: 1px solid black;
}

.button-no-css {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}