<div class="modal-header">
    <h4 class="modal-title text-primary" id="modal-title">Dodavanje izvoda iz datoteke</h4>
    <button type="button" class="button-no-css" style="font-size: 25px;" aria-label="Close" (click)="exitModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <strong>1.) Odaberi datoteku s izvodom </strong>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded mr-auto" (click)="exitModal()">Odustani</button>
    <button type="submit" ngbAutofocus class="btn btn-primary btn-rounded mr-2">Dodaj osobu</button>
</div>
