<div *ngIf="importSuccess; else importDenied">
    <div class="modal-header">
        <h4 class="modal-title text-primary" id="modal-title">Dodavanje izvoda iz datoteke</h4>
        <button type="button" class="button-no-css" style="font-size: 25px;" aria-label="Close" (click)="exitModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="importFromFileGroup" (ngSubmit)="onSubmit()" #myForm="ngForm"
            *ngIf="!isLoadingResponse; else loaderActivated">
            <div class="col-lg-12 col-md-12 col-sm-6 mt-2 mb-3">
                <label class="mb-2 font-weight-bold">
                  <span class="badge badge-pill badge-dark mr-2">1</span>
                    Odaberi datoteku s izvodom: <span class="text-danger">*</span>
                </label>
                <div class="custom-file">
                    <input type="file" lang="hr"
                        [ngClass]="{'is-invalid':  myForm.submitted}">
                    <div class="invalid-feedback">Polje je obavezno</div>
                </div>
            </div>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-6 mb-3">
                <label class="mb-2 font-weight-bold mb-2">
                  <span class="badge badge-pill badge-dark mr-2">2</span>
                    Odaberi predložak za validaciju i uvoz podataka: <span class="text-danger">*</span>
                </label>
                <ng-select [items]="validationTemplates" bindLabel="name" bindValue="name" labelForId="state"
                    placeholder="Izaberi..." clearAllText="Clear" formControlName="template"
                    [ngClass]="{'is-invalid': template.invalid && (template.dirty || template.touched || myForm.submitted)}">
                </ng-select>
                <div class="invalid-feedback">Polje je obavezno</div>
            </div>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-6 mb-3">
                <label class="mb-2 font-weight-bold mb-2">
                  <span class="badge badge-pill badge-dark mr-2">3</span>
                    Odaberi osobu na predmetu za koju se uvozi izlist: <span class="text-danger">*</span>
                </label>
                <ng-select [items]="osobeNaPredmetu" bindLabel="naziv" bindValue="osobaID" labelForId="state"
                    placeholder="Izaberi..." clearAllText="Clear" formControlName="osoba"
                    [ngClass]="{'is-invalid': osoba.invalid && (osoba.dirty || osoba.touched || myForm.submitted)}">
                </ng-select>
                <div class="invalid-feedback">Polje je obavezno</div>
            </div>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-6 mb-3">
                <label class="mb-2 font-weight-bold mb-2">
                  <span class="badge badge-pill badge-dark mr-2">4</span> Učitaj datoteku:
                </label>
                <br>
                <button type="submit" class="btn btn-info">
                  <span class="fas fa-file-upload"></span>
                  <span class="ml-2">Učitavanje odabrane datoteke</span>
                </button>
            </div>
        </form>
        <ng-template #loaderActivated>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary" style="width:3.5rem; height: 3.5rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="d-flex flex-column justify-content-center ml-3">
                    <span class="font-weight-bold">Molimo pričekajte obradu datoteke</span>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<ng-template #importDenied>
    <div class="modal-header" style="background: rgb(220, 53, 69); color: white;">
        <h4 class="modal-title" id="modal-title">Pogreška pri učitavanju datoteke</h4>
        <button type="button" class="close;" aria-label="Close" (click)="exitModal()">
            <span class="fas fa-times"></span>
        </button>
    </div>
    <div class="modal-body">
        <ul class="row">
            <div class="col-md-6" *ngFor="let error of errors; let i = index" style="white-space: break-spaces;">
                <strong>
                    Redak {{ error.rowId }}.
                </strong>
                <br>
                <span class="text-danger ml-1">{{ error.name }}</span>
            </div>
        </ul>
    </div>
</ng-template>
