<div class="modal-header">
    <h4 class="modal-title text-primary" id="modal-title">Prikaz detalja transakcija</h4>
    <button type="button" class="button-no-css" style="font-size: 25px;" aria-label="Close" (click)="exitModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-tabset #t="ngbTabset" class="nav-tabss">
        <ngb-tab id="tab-selectbyid1" title="Detalji o izvodu">
            <ng-template ngbTabContent>
                <div class="card mt-3">
                    <div class="card-header">
                        Izvod
                    </div>
                    <div class="d-flex">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Izvor podataka: <strong>{{ baseDetail.Izvor }}</strong>
                                </li>
                                <li class="list-group-item">
                                    SWIFT/BIC banke: <strong>{{ baseDetail.SWIFT }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Izvod za broj računa: <strong>{{ baseDetail.BrojRacuna}}</strong>
                                </li>
                                <li class="list-group-item">
                                    Izvod za osobu: <strong>{{ baseDetail.Naziv }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Izvršenje OD datuma: <strong>{{ baseDetail.IzvodOd | date: 'dd.MM.yyyy' }}</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Izvršenje DO datuma: <strong>{{ baseDetail.IzvodDo | date: 'dd.MM.yyyy' }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Broj dolaznih transakcija(uplate): <strong>{{ baseDetail.BrUplata }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Ukupan iznos uplata: <strong>{{ baseDetail.IznosUplata }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Broj odlaznih transakcija(isplata): <strong>{{ baseDetail.BrIsplata }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Ukupan iznos isplata: <strong>{{ baseDetail.IznosIsplata }}</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-selectbyid2">
            <ng-template ngbTabTitle>
                Financijske transakcije na izvodu
            </ng-template>
            <ng-template ngbTabContent>
                <ngx-datatable class="material mt-3" columnMode="force" [headerHeight]="'auto'"
                    [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [loadingIndicator]="isLoading"
                    [rows]="baseTransactions" [messages]="{
                        emptyMessage:'Nema rezultata',
                        totalMessage: 'ukupno'
                    }">
                    <ngx-datatable-column name="Broj računa" prop="BrojRacunaA" [width]="200"></ngx-datatable-column>
                    <ngx-datatable-column name="SWIFT/BIC" prop="SWIFTA" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="Banka računa" prop="BankaA" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Država računa" prop="DrzavaA" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Naziv vlasnika rač. A" name="Naziv vl. rač. A" prop="NazivA" [width]="130"></ngx-datatable-column>
                    <ngx-datatable-column name="Datum / vrijeme" prop="DatumTransakcije" [width]="100">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ value | date: 'dd.MM.yyyy'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Referentni broj" prop="ReferentniBroj" [width]="130"></ngx-datatable-column>
                    <ngx-datatable-column name="Vrsta" prop="VrstaTransakcije" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="Iznos" prop="IznosTransakcije" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="Valuta" prop="Valuta" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="Količina" prop="CijenaKn" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="Smjer" prop="Smjer" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="Broj računa" prop="BrojRacunaB" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="SWIFT/BIC" prop="SWIFTB" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="Banka računa" prop="BankaB" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Država računa" prop="DrzavaB" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Naziv vlasnika rač. B" prop="NazivB" [width]="120"></ngx-datatable-column>
                </ngx-datatable>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>