<div class="modal-header">
    <h4 class="modal-title text-primary" id="modal-title">Prikaz detalja transakcija</h4>
    <a class="close" aria-label="Close" (click)="exitModal()">
        <span class="fas fa-times"></span>
    </a>
</div>

<div class="modal-body">
    <ngb-tabset #t="ngbTabset" class="nav-tabss">
        <ngb-tab id="tab-selectbyid1" title="Detalji o izvodu" *ngIf="isMap === false">
            <ng-template ngbTabContent>
                <div class="card mt-3">
                    <div class="card-header">
                        Izvod
                    </div>
                    <div class="d-flex">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Izvor podataka: <strong>{{ izvod.banka }}</strong>
                                </li>
                                <li class="list-group-item">
                                    SWIFT/BIC banke: <strong>{{ izvod.swift }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Izvod za broj računa: <strong>{{ izvod.brojRacuna}}</strong>
                                </li>
                                <li class="list-group-item">
                                    Izvod za osobu: <strong>{{ izvod.nazivOsobe }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Izvršenje OD datuma: <strong>{{ izvod.datumVrijemeOd | date: 'dd.MM.yyyy' }}</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Izvršenje DO datuma: <strong>{{ izvod.datumVrijemeDo | date: 'dd.MM.yyyy' }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Broj dolaznih transakcija(uplate): <strong>{{ izvod.brojUplata }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Ukupan iznos uplata: <strong>{{ izvod.iznosUplata | currency:'HRK':'symbol':'4.2-2':'hr' }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Broj odlaznih transakcija(isplata): <strong>{{ izvod.brojIsplata }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Ukupan iznos isplata: <strong>{{ izvod.iznosIsplata | currency:'HRK':'symbol':'4.2-2':'hr' }}</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab id="tab-selectbyid2">
            <ng-template ngbTabTitle>
                Financijske transakcije na izvodu
            </ng-template>
            <ng-template ngbTabContent>
                <div class="row mb-4 d-flex justify-content-end">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <input type="text" class="form-control form-rounded" [(ngModel)]="paginationRequest.searchString"
                            placeholder="Upišite pojam pretrage">
                    </div>
                    <button type="button" class="mr-3 btn btn-primary" (click)="fetchPage()">
                        <span class="fas fa-search"></span>
                        <span class="ml-2">Traži</span>
                    </button>
                    <button type="button" class="btn btn-outline-secondary mr-3" (click)="removeFilter()">
                        <span class="fas fa-times"></span>
                        <span class="ml-2">Poništi pretragu</span>
                    </button>
                </div>
                <ngx-datatable class="material mt-3" columnMode="force" [headerHeight]="'auto'" [footerHeight]="50"
                    [rowHeight]="'auto'" [loadingIndicator]="isLoading" [externalPaging]="true" [rows]="pagedResult?.model"
                    [count]="pagedResult?.itemsCount" [offset]="currentPage" limit="{{pageSize}}" [virtualization]="true" (page)="setPage($event)"
                    (sort)="onSort($event)" [externalSorting]="true"
                    [messages]="{
                    emptyMessage:'Nema rezultata',
                    totalMessage: pagedResult ? pagedResult.message : 'Ukupan broj'
                }">
                    <ngx-datatable-column name="Broj računa" prop="a_RN" [width]="200"></ngx-datatable-column>
                    <ngx-datatable-column name="SWIFT/BIC" prop="a_FIS" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="Banka računa" prop="a_FIN" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Država računa" prop="a_FID" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Naziv vlasnika rač. A" prop="a_NA" [width]="130"></ngx-datatable-column>
                    <ngx-datatable-column name="Datum / vrijeme" prop="t_DV" [width]="100">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ value | date: 'dd.MM.yyyy HH:mm'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Referentni broj" prop="t_REF" [width]="130"></ngx-datatable-column>
                    <ngx-datatable-column name="Vrsta" prop="t_VR" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="Opis" prop="t_DESC" [width]="170"></ngx-datatable-column>
                    <ngx-datatable-column name="Iznos" prop="t_IZ" [width]="120">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ value | currency:'':'':'4.2-2':'hr'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Valuta" prop="t_VL" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="Konvertirani iznos" prop="t_KONV_IZ" [width]="120">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ value | currency:'HRK':'symbol':'4.2-2':'hr'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Smjer" prop="t_DIR" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="Broj računa" prop="b_RN" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="SWIFT/BIC" prop="b_FIS" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="Banka računa" prop="b_FIN" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Država računa" prop="b_FID" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Naziv vlasnika rač. B" prop="b_NA" [width]="120"></ngx-datatable-column>
                </ngx-datatable>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
