.sidebar-holder {
  background: #eee;

  .menu-button {
    color: #666;

    &.active {
      color: #444;
      text-shadow: 0 1px 0 #fff;
    }
    &:hover { color: #000; }
    &[disabled] {
      color: #aaa;
      text-shadow: 0 1px 0 #fff;
    }
  }
}

.is-active {
  background: #666;
  color: #eee !important;
}