<section id="sidebar" class="sidebar-holder">
  <div>
    <ul class="sidebar-list list-unstyled px-0">
      <li class="sidebar-list-item text-center px-0 py-0" *ngFor="let menu of menus" [ngClass]="{'active': menu.active === true}">
        <button type="button" class="menu-button btn btn-block py-3"
          routerLink="{{menu.path}}"
          [title]="menu.descr"
          [disabled]="menu.disabled">
          <span class="menu-icon d-block fas fa-2x" [ngClass]="menu.icon"></span>
          <span class="menu-text d-block " *ngIf="!!menu.descr">{{menu.descr}}</span>
        </button>
      </li>
    </ul>
  </div>
</section>
