.sidebar-holder {
  .menu-button {
    color: #666;
    border-radius: 0;

    &.active {
      color: #444;
      text-shadow: 0 1px 0 #fff;
    }
    &:hover { color: #000; }
    &[disabled] {
      color: #aaa;
      text-shadow: 0 1px 0 #fff;
    }
  }
}

.is-active {
  background: #666;
  color: #eee !important;
}

.dropdown-item {
  cursor: pointer !important;
}
