<header class="bg-primary col-sm-12 text-center text-light p-1">
    <app-toolbar-info [moduleFontIcon]="moduleFontIcon" [moduleName]="moduleName"></app-toolbar-info>
</header>

<div>
  <app-visualisation-toolbar
    [displayType]="displayType"
    [expandViewAction]="expandView.bind(this)"
    [contractViewAction]="contractView.bind(this)"
    [notificationsAction]="notifications.bind(this)"
    [filterAction]="filter.bind(this)"
    [exportAction]="export.bind(this)"
    (childNotification)="onChangeOsobaOrIzvod($event)">
  </app-visualisation-toolbar>

  <div id="map-area">
    <div class="map-canvas"
      leaflet
      [leafletLayers]="layers"
      [leafletOptions]="options"
      [(leafletZoom)]="zoom"
      (leafletMapZoom)="zoomControl($event)"
      (leafletClick)="mapClick($event)"
      (leafletMapReady)="onMapReady($event)">
      <!--[leafletLayersControl]="layersControl"-->
    </div>
  </div>
</div>
