[data-initials]:before {
    background: #099bdd;
    color: white;
    opacity: 1; 
    content: attr(data-initials); 
    display: inline-block; 
    font-weight: 600; 
    border-radius: 50%; 
    vertical-align: middle; 
    margin-right: 0.5em; 
    width: 50px; 
    height: 50px; 
    line-height: 50px; 
    text-align: center; 
}

.btn-user {
    border-radius: 50%;
    padding: 1px 10px;
}