<div class="col-12 mt-1 mb-2 px-0">
  <div class="py-2 px-2">
      <h4>
        <span class="fas fa-folder-open"></span>
        <strong class="ml-2">Detalji predmeta</strong>
      </h4>
  </div>
</div>

<div class="col-12 bg-light border py-3 mb-5">
  <div class="row">
    <div class="col-10">
      <button type="button" class="btn btn-secondary mr-3" (click)="navigateToEdit()">
        <span class="fas fa-check-square"></span>
        <span class="ml-2">Uredi predmet</span>
      </button>
      <button type="button" class="btn btn-secondary mr-3" (click)="exitSubject()">
        <span class="fas fa-times-circle"></span>
        <span class="ml-2">Zatvori predmet</span>
      </button>
      <button type="button" class="btn btn-secondary mr-3" (click)="deleteSubject()">
        <span class="fas fa-trash"></span>
        <span class="ml-2">Obriši predmet</span>
      </button>
    </div>
  </div>
</div>

<div class="container" *ngIf="subject">
    <div class="input-group">
        <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
            <label for="BrojPredmeta" style="font-size: 18px;">
                Broj predmeta:
            </label>
            <strong class="ml-3">
                {{ subject.BrojPredmeta }}
            </strong>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
            <label for="DatumOtvaranja" style="font-size: 18px;">
                Datum otvaranja predmeta:
            </label>
            <strong class="ml-3">
                {{ subject.DatumOtvaranja | date: 'dd.MM.yyyy' }}
            </strong>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
        <label for="BrojPredmeta" style="font-size: 18px;">
            Naziv predmeta:
        </label>
        <strong class="ml-3">
            {{ subject.NazivPredmeta }}
        </strong>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
        <label for="BrojPredmeta" style="font-size: 18px;">
            Status predmeta:
        </label>
        <strong class="ml-3">
            {{ subjectStatus.name }}
        </strong>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-5">
        <label for="permission" style="font-size: 18px;">
            Dozvole za rad na predmetu
        </label>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Broj</th>
                    <th scope="col">Ime</th>
                    <th scope="col">Prezime</th>
                    <th scope="col">E-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let korisnik of subject.DozvoljeniKorisnici; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ korisnik.Ime }}</td>
                    <td>{{ korisnik.Prezime }}</td>
                    <td>{{ korisnik.Email }}</td>
                </tr>
                <tr *ngIf="subject.DozvoljeniKorisnici.length == 0">
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
        <label for="BrojPredmeta" style="font-size: 18px;">
            Napomena:
        </label>
        <strong class="ml-3">
            {{ subject.Napomena }}
        </strong>
    </div>
</div>
