<div class="card">
  <div class="card-body -pb-4 -mb-4">
    <span class="text-right pull-right">
      <a class="close" aria-label="Close" (click)="closeInfobox()">
        <small class="fas fa-times"></small>
      </a>
    </span>
    <section class="" *ngIf="isSelectedActiveUser">
      <div>
        <strong class="text-dark">Osoba u fokusu</strong>
      </div>
      <div class="h5 text-info"><strong>{{node.naziv}}</strong><span *ngIf="node.idBroj">, ID: {{node.idBroj}}</span></div>
      <div>
        <span class="mr-2">Ukupan iznos uplata<span class="ml-1" *ngIf="node.countIn">({{node.countIn}})</span>:</span>
        <strong *ngIf="node.totalIn">{{node.totalIn|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
        <span *ngIf="!node.totalIn">n/a</span>
      </div>
      <div>
        <span class="mr-2">Ukupan iznos isplata<span class="ml-1" *ngIf="node.countOut">({{node.countOut}})</span>:</span>
        <strong *ngIf="node.totalOut">{{node.totalOut|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
        <span *ngIf="!node.totalOut">n/a</span>
      </div>
    </section>
    <!--
    <section *ngIf="!isSelectedActiveUser">
      <div>
        <strong class="text-dark">Transakcije prema osobi u fokusu</strong>
      </div>
      <div class="h5 text-info"><strong>{{node.user.name}}, OIB: {{node.user.oib}}</strong></div>
      <div>
        <span class="mr-2">Transakcije prema osobi u fokusu:</span>
        <strong>{{focusTransactionCount}}</strong>
      </div>
      <div>
        <span class="mr-2">Iznos prema osobi u fokusu:</span>
        <strong>{{focusTransactionAmount|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
      </div>
    </section>
    -->
  </div>

  <div class="card-body mt-3">
    <section *ngFor="let account of accounts; let i = index">
      <div class="text-info">Račun {{i+1}}</div>
      <div class="card mb-2">
        <div class="card-body">
          <div>Broj računa: <strong>{{account.brojRacuna}}</strong></div>
          <div>SWIFT/BIC banke: <span>{{account.swift}}</span></div>
          <!--
          <div>Naziv banke: <span>{{account.bank}}</span>, Država: <span>{{account.country}}</span></div>
          -->
          <hr>
          <div>
            <span class="mr-1">Uplate na račun:</span>
            <strong *ngIf="account.brojUplata">{{account.brojUplata}}</strong>
            <span *ngIf="!account.brojUplata">n/a</span>
          </div>
          <div>
            <span class="mr-1">Ukupan iznos uplata:</span>
            <strong *ngIf="account.iznosUplata">{{account.iznosUplata|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
            <span *ngIf="!account.iznosUplata">n/a</span>
          </div>
          <hr>
          <div>
            <span class="mr-1">Isplate s računa:</span>
            <strong *ngIf="account.brojIsplata">{{account.brojIsplata}}</strong>
            <span *ngIf="!account.brojIsplata">n/a</span>
          </div>
          <div>
            <span class="mr-1">Ukupan iznos isplata:</span>
            <strong *ngIf="account.iznosIsplata">{{account.iznosIsplata|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
            <span *ngIf="!account.iznosIsplata">n/a</span>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
