<div class="card">
  <div class="card-body pb-4 mb-4">
    <span class="text-right pull-right">
      <a class="close" aria-label="Close" (click)="closeInfobox()">
        <small class="fas fa-times"></small>
      </a>
    </span>
    <section *ngIf="isSelectedActiveUser">
      <div>
        <strong class="text-dark">Osoba u fokusu</strong>
      </div>
      <div class="h5 text-info"><strong>{{node.naziv}}, ID: {{node.idBroj}}</strong></div>
      <div>
        <span class="mr-2">Ukupan iznos uplata:</span>
        <strong *ngIf="node.user.totalIn">{{node.user.totalIn|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
        <span *ngIf="!node.user.totalIn">n/a</span>
      </div>
      <div>
        <span class="mr-2">Ukupan iznos isplata:</span>
        <strong *ngIf="node.user.totalOut">{{node.user.totalOut|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
        <span *ngIf="!node.user.totalOut">n/a</span>
      </div>
    </section>
    <!--
    <section *ngIf="!isSelectedActiveUser">
      <div>
        <strong class="text-dark">Transakcije prema osobi u fokusu</strong>
      </div>
      <div class="h5 text-info"><strong>{{node.user.name}}, OIB: {{node.user.oib}}</strong></div>
      <div>
        <span class="mr-2">Transakcije prema osobi u fokusu:</span>
        <strong>{{focusTransactionCount}}</strong>
      </div>
      <div>
        <span class="mr-2">Iznos prema osobi u fokusu:</span>
        <strong>{{focusTransactionAmount|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
      </div>
    </section>
    -->
  </div>

  <div class="card-body mt-3">
    <section *ngFor="let account of accounts; let i = index">
      <div class="text-info">Račun {{i+1}}</div>
      <div class="card mb-2">
        <div class="card-body">
          <pre>{{account|json}}</pre>
          <div>Broj računa: <strong>{{account.brojRacuna}}</strong></div>
          <div>SWIFT/BIC banke: <span>{{account.swift}}</span></div>
          <!--
          <div>Naziv banke: <span>{{account.bank}}</span>, Država: <span>{{account.country}}</span></div>
          -->
          <hr>
          <div>
            <span class="mr-1">Uplate na račun:</span>
            <strong *ngIf="account.transactions.totals.inbound.count != 0">{{account.transactions.totals.inbound.count}}</strong>
            <span *ngIf="account.transactions.totals.inbound.count == 0">n/a</span>
          </div>
          <div>
            <span class="mr-1">Ukupan iznos uplata:</span>
            <strong *ngIf="account.transactions.totals.inbound.amount">{{account.transactions.totals.inbound.amount|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
            <span *ngIf="!account.transactions.totals.inbound.amount">n/a</span>
          </div>
          <hr>
          <div>
            <span class="mr-1">Isplate s računa:</span>
            <strong *ngIf="account.transactions.totals.outbound.count != 0">{{account.transactions.totals.outbound.count}}</strong>
            <span *ngIf="account.transactions.totals.outbound.count == 0">n/a</span>
          </div>
          <div>
            <span class="mr-1">Ukupan iznos isplata:</span>
            <strong *ngIf="account.transactions.totals.outbound.amount">{{account.transactions.totals.outbound.amount|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
            <span *ngIf="!account.transactions.totals.outbound.amount">n/a</span>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
