<div class="card">
  <div class="card-body mb-2 pb-3">
    <span class="text-right pull-right">
      <a class="close" aria-label="Close" (click)="closeInfobox()">
        <small class="fas fa-times"></small>
      </a>
    </span>

    <section class="pt-2 pb-4 d-block" *ngIf="isSelectedActiveUser">
      <div><strong class="text-dark">Osoba u fokusu</strong></div>
      <div *ngIf="!node.data"><span class="h5 text-info">{{node.label}}</span></div>
      <div class="h5 text-info" *ngIf="node.data"><strong>{{node.data.naziv}}</strong><span *ngIf="node.idBroj">, ID: {{node.data.idBroj}}</span></div>
      <hr/>
      <div class="d-block pb-1">
        <span class="text-nowrap mr-2">Ukupan iznos uplata<span class="ml-1" *ngIf="node.countIn">({{node.countIn}})</span>:</span>
        <strong class="text-nowrap" *ngIf="node.totalIn">{{node.totalIn|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
        <span *ngIf="!node.totalIn">n/a</span>
      </div>
      <div class="d-block pb-1">
        <span class="text-nowrap mr-2">Ukupan iznos isplata<span class="ml-1" *ngIf="node.countOut">({{node.countOut}})</span>:</span>
        <strong class="text-nowrap" *ngIf="node.totalOut">{{node.totalOut|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
        <span *ngIf="!node.totalOut">n/a</span>
      </div>
    </section>

    <section class="pt-2 pb-4 d-block" *ngIf="!isSelectedActiveUser">
      <div>
        <strong class="text-dark">Transakcije prema osobi u fokusu</strong>
      </div>
      <div class="h5 text-info"><strong class="mr-1">{{node.label}}</strong><small *ngIf="node.id">ID: {{node.id}}</small></div>
      <!-- --
      <div>
        <span class="mr-2">Transakcije prema osobi u fokusu:</span>
        <strong>{{focusTransactionCount}}</strong>
      </div>
      <div>
        <span class="mr-2">Iznos prema osobi u fokusu:</span>
        <strong>{{focusTransactionAmount|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
      </div>
      -- -->
    </section>
  </div>

  <div class="card-body mt-2 mt-sm-4 mt-md-4 mt-xl-4" *ngIf="areDetailsExpanded">
    <section class="py-2" *ngFor="let account of accounts; let i = index">
      <div class="text-info pt-3 pb-2"><strong>Račun {{i+1}}</strong></div>
      <div class="card mb-2">
        <div class="card-body">
          <div><span class="text-nowrap mr-2">Broj računa:</span><strong class="text-nowrap">{{account.brojRacuna}}</strong></div>
          <div><span class="text-nowrap mr-2">SWIFT/BIC banke:</span><span class="text-nowrap">{{account.swift}}</span></div>
          <!--
          <div>Naziv banke: <span>{{account.bank}}</span>, Država: <span>{{account.country}}</span></div>
          -->
          <hr>
          <div>
            <span class="text-nowrap mr-1">Uplate na račun:</span>
            <strong *ngIf="account.brojUplata">{{account.brojUplata}}</strong>
            <span *ngIf="!account.brojUplata">n/a</span>
          </div>
          <div>
            <span class="text-nowrap mr-1">Ukupan iznos uplata:</span>
            <strong class="text-nowrap" *ngIf="account.iznosUplata">{{account.iznosUplata|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
            <span *ngIf="!account.iznosUplata">n/a</span>
          </div>
          <hr>
          <div>
            <span class="text-nowrap mr-1">Isplate s računa:</span>
            <strong *ngIf="account.brojIsplata">{{account.brojIsplata}}</strong>
            <span *ngIf="!account.brojIsplata">n/a</span>
          </div>
          <div>
            <span class="text-nowrap mr-1">Ukupan iznos isplata:</span>
            <strong class="text-nowrap" *ngIf="account.iznosIsplata">{{account.iznosIsplata|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong>
            <span *ngIf="!account.iznosIsplata">n/a</span>
          </div>
          <hr>
          <div class="text-right mb-0">
            <button type="button" class="btn btn-sm btn-outline-info" title="Prikaz detalja računa i transakcija" (click)="showAccountInfo(account.brojRacuna)">
              <span class="fas fa-list"></span>
              <span class="ml-2">Detalji računa</span>
            </button>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center my-3">
      <button type="button" class="btn btn-secondary" title="Prikaz manje detalja računa i transakcija" (click)="contractAccountsInfo()">
        <span class="fas fa-arrow-up"></span>
        <span class="ml-2">Prikaži manje</span>
      </button>
    </div>
  </div>

  <div class="card-body mt-0 mt-sm-0 mt-md-0 mt-xl-0" *ngIf="!areDetailsExpanded">
    <div class="card mb-2">
      <div class="card-body">
        <section>
          <div>Broj korištenih računa: <strong>{{accounts.length}}</strong></div>
          <hr/>
        </section>
        <section *ngIf="!isSelectedActiveUser">
          <div>Broj transakcija prema osobi u fokusu: <strong>{{node.countOut}}</strong></div>
          <div>Transakcija prema osobi u fokusu: <strong class="text-nowrap">{{accounts.length|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong></div>
          <hr/>
        </section>
        <section>
          <div>Ukupno transakcija po svim računima: <strong>{{node.countOut + node.countIn}}</strong></div>
          <div><span class="text-nowrap mr-2">Ukupan iznos svih uplata:</span><strong class="text-nowrap">{{node.totalIn|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong></div>
          <div><span class="text-nowrap mr-2">Ukupan iznos svih isplata:</span><strong class="text-nowrap">{{node.totalOut|currency:'HRK':'symbol':'4.2-2':'hr'}}</strong></div>
        </section>
      </div>
    </div>
    <div class="text-center mt-4">
      <button type="button" class="btn btn-secondary" title="Prikaz više detalja računa i transakcija" (click)="expandAccountsInfo()">
        <span class="fas fa-arrow-down"></span>
        <span class="ml-2">Prikaži više</span>
      </button>
    </div>
  </div>

</div>
