<div class="my-5">
  <div class="col-12 my-4">
    <div class="col-3 offset-5 text-center px-5">
      <button type="button" class="btn btn-primary btn-block btn-lg px-4 py-3 mb-4" (click)="navigateToNewSubject()">
          <span class="fas fa-plus-square"></span>
          <span class="ml-2">Novi predmet</span>
      </button>

      <button type="button" class="btn btn-primary btn-block btn-lg px-4 py-3" (click)="openSubjectModal()">
          <span class="fas fa-folder-open"></span>
          <span class="ml-2">Otvori postojeći predmet</span>
      </button>
    </div>
  </div>
</div>
