<div class="my-5">
  <div class="col-12 my-4">
    <div class="col-4 offset-4 text-center">
      <button type="button" class="btn btn-outline-primary px-4 py-3" (click)="navigateToNewSubject()">
          <span class="fas fa-plus-square"></span>
          <span class="ml-2">Novi predmet</span>
      </button>
    </div>
  </div>
  <div class="col-12 my-4">
    <div class="col-4 offset-4 text-center">
      <button type="button" class="btn btn-outline-primary px-4 py-3" (click)="openSubjectModal()">
          <span class="fas fa-folder-open"></span>
          <span class="ml-2">Otvori postojeći predmet</span>
      </button>
    </div>
  </div>
</div>
