<div class="p-2">
    <ngx-datatable class="material horizontal-table-scroll" columnMode="force" [headerHeight]="'auto'" [footerHeight]="50"
        [rowHeight]="'auto'" [limit]="10" [loadingIndicator]="isLoading" [rows]="innerItems" [messages]="{
            emptyMessage:'Nema rezultata',
            totalMessage: 'ukupno',
            selectedMessage: 'odabran'
        }">

        <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
            [canAutoResize]="false">
            <ng-template ngx-datatable-header-template>
                Br.
            </ng-template>
            <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ rowIndex + 1 }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="Izvor" [width]="80"></ngx-datatable-column>
        <ngx-datatable-column name="SWIFT" prop="SWIFT" [width]="80"></ngx-datatable-column>
        <ngx-datatable-column prop="BrojRacuna" [width]="80"></ngx-datatable-column>
        <ngx-datatable-column prop="DatumUvoza" [width]="100">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ value | date: 'dd.MM.yyyy'}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="Naziv" [width]="130"></ngx-datatable-column>
        <ngx-datatable-column prop="IzvodOd" [width]="100">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ value | date: 'dd.MM.yyyy'}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="IzvodDo" [width]="100">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ value | date: 'dd.MM.yyyy'}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Br. transakcija (U/I)" prop="BrTransakcija" [width]="120"></ngx-datatable-column>
        <ngx-datatable-column name="Iznos transakcija (U/I)" prop="IznosTransakcija" [width]="120"></ngx-datatable-column>
        <ngx-datatable-column name="actions" [width]="130" [resizeable]="false" [sortable]="false" [draggable]="false"
            [canAutoResize]="false">
            <ng-template ngx-datatable-header-template>
                Akcije
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <div class="" role="group" aria-label="First group">
                    <button type="button" class="btn btn-sm btn-outline-primary mr-2 px-2 py-0" (click)="showInnerBaseDetail(row)">
                      <span class="fas fa-info px-1"></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-danger px-2 py-0" (click)="deleteInnerBaseItem(row)">
                      <span class="fas fa-trash-alt"></span>
                    </button>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
