.button-no-css {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

:host .ngx-datatable.material {
    .datatable-header {
        border: 0 !important;
        .datatable-header-cell {
            background: #00CED1;
            color: white !important;
        }
    }
}