<div class="modal-header">
    <h4 class="modal-title text-primary" id="modal-title">Informacije alarma</h4>
    <a class="close" aria-label="Close" (click)="modal.dismiss()">
        <span class="fas fa-times"></span>
    </a>
</div>

<div class="modal-body">
    <ul class="list-group mb-3" *ngFor="let information of alarmInformation;">
        <li class="list-group-item">Broj predmeta: <strong class="ml-1">{{ information.brojPredmeta }}</strong></li>
        <li class="list-group-item">Naziv predmeta: <strong class="ml-1">{{ information.nazivPredmeta }}</strong></li>
        <li class="list-group-item">Naziv osobe: <strong class="ml-1">{{ information.drugiANA }}</strong></li>
        <li class="list-group-item">Broj računa: <strong class="ml-1">{{ information.drugiARN }}</strong></li>
        <li class="list-group-item">ID broj: <strong class="ml-1">{{ information.drugiAID }}</strong></li>
    </ul>
</div>