<ngb-alert type="primary" [dismissible]="false" class="mb-0" style="color: black; text-align: center;">
    <strong>
        <i class="fas fa-database"></i> Baza izvoda
    </strong>
</ngb-alert>
<ngb-alert type="secondary" [dismissible]="false" style="color: green;">
    <div class="row">
        <div class="col-md-2 col-sm-4"
            style="display: flex; flex-direction: column;flex-wrap: wrap;align-content: center;">
            <div style="text-align: center;" (click)="addPersonToBase()">
                <button type="submit" class="button-no-css">
                    <i class="fas fa-user-plus" style="font-size: 40px;"></i>
                </button>
            </div>
            <span style="font-size: 18px;">
                Dodaj osobu
            </span>
        </div>
        <div class="col-md-3 col-sm-4"
            style="display: flex; flex-direction: column;flex-wrap: wrap;align-content: center;">
            <div style="text-align: center;">
                <button type="button" class="button-no-css">
                    <i class="fas fa-align-justify" style="font-size: 40px;"></i>
                </button>
            </div>
            <span style="font-size: 18px;">
                Dodaj izvod iz datoteke
            </span>
        </div>
        <div class="col-md-3 col-sm-4"
            style="display: flex; flex-direction: column;flex-wrap: wrap;align-content: center;">
            <div style="text-align: center;">
                <button type="button" class="button-no-css">
                    <i class="fas fa-upload" style="font-size: 40px;"></i>
                </button>
            </div>
            <span style="font-size: 18px;">
                Dodaj izvod iz TIRM-a
            </span>
        </div>
    </div>
</ngb-alert>
<div class="col-lg-12 col-md-12 col-sm-12 p-4">
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <input type="text" class="form-control form-rounded" placeholder="Upišite pojam pretrage">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <button type="button" class="mr-3 btn btn-primary">
                    Traži
                </button>
                <button type="button" class="btn btn-outline-primary">
                    Poništi pretragu
                </button>
            </div>
        </div>
        <!-- TODO WITH BACKEND PAGINATION AND SORTING -->
        <ngx-datatable class="material horizontal-table-scroll" columnMode="force" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [loadingIndicator]="isLoading" [rows]="baseItems"
            [messages]="{
                emptyMessage:'Nema odabranih rezultata',
                totalMessage: 'ukupno',
                selectedMessage: 'odabran'
              }">

            <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div style="padding-left:35px;">
                        <div><strong>Address</strong></div>
                        <div>{{ row.address.city }}, {{ row.address.state }}</div>
                    </div>
                </ng-template>
            </ngx-datatable-row-detail>

            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                [canAutoResize]="false">
                <ng-template ngx-datatable-header-template>
                    Akcije
                </ng-template>
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a href="javascript:void(0)" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                        <i class="fas fa-minus-square" *ngIf="expanded; else notExpanded"></i>
                        <ng-template #notExpanded>
                            <i class="fas fa-plus-square"></i>
                        </ng-template>
                    </a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column *ngFor="let col of columns; let i = index" [name]="col.name" [prop]="col.prop"
                [resizeable]="true" [sortable]="true" [flexGrow]="1" [width]="col.width ? col.width : false">

                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                    *ngIf="col.prop == 'dateCreated'">
                    {{  value | date: 'dd.MM.yyyy'  }}
                </ng-template>

                <ng-template ngx-datatable-header-template let-sort="sortFn">
                    <span (click)="sort()">
                        {{ col.name }}
                    </span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="actions" [width]="130" [resizeable]="false" [sortable]="false" [draggable]="false"
            [canAutoResize]="false">
                <ng-template ngx-datatable-header-template>
                  Akcije
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <div class="" role="group" aria-label="First group">
                        <a type="button" (click)="editPerson(row)"><i class="fas fa-pencil-alt text-primary mr-5" style="font-size: 22px;"></i></a>
                        <a type="button" (click)="deletePerson(row)"><i class="fas fa-trash-alt text-danger" style="font-size: 22px;"></i></a>
                    </div>
                </ng-template>
              </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>