<div class="col-12 mt-1 mb-2 px-0">
    <div class="py-2 px-2">
        <h4>
            <span class="fas fa-database"></span>
            <strong class="ml-2">Baza izvoda</strong>
        </h4>
    </div>
</div>

<div class="col-12 bg-light border py-3 mb-5">
    <div class="row">
        <div class="col-10">
            <button type="button" class="btn btn-secondary mr-3" (click)="addPersonToBase()">
                <span class="fas fa-user-plus"></span>
                <span class="ml-2">Dodaj osobu</span>
            </button>
            <button type="button" class="btn btn-secondary mr-3" (click)="openBaseImportFromFile()">
                <span class="fas fa-align-justify"></span>
                <span class="ml-2">Dodaj izvod iz datoteke</span>
            </button>
            <button type="button" class="btn btn-secondary mr-3" (click)="getBaseFromTIRM()">
                <span class="fas fa-upload"></span>
                <span class="ml-2">Dodaj izvod iz TIRM-a</span>
            </button>
        </div>
    </div>
</div>

<div class="col-12 py-2 px-0" *ngIf="isTableActive; else deleteActivated">
    <div class="container-fluid px-0">
        <div class="row mb-4">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <input type="text" class="form-control" [(ngModel)]="filterValue" placeholder="Upišite pojam pretrage">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <button type="button" class="mr-3 btn btn-primary" (click)="filterUserTable()">
                    <span class="fas fa-search"></span>
                    <span class="ml-2">Traži</span>
                </button>
                <button type="button" class="btn btn-outline-secondary" (click)="removeFilter()">
                    <span class="fas fa-times"></span>
                    <span class="ml-2">Poništi pretragu</span>
                </button>
            </div>
        </div>
        <!-- TODO WITH BACKEND PAGINATION AND SORTING -->
        <ngx-datatable #myTable class="material horizontal-table-scroll" columnMode="force" [headerHeight]="'auto'"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [loadingIndicator]="isLoading" [rows]="baseItems"
            [messages]="{
                emptyMessage:'Nema odabranih rezultata',
                totalMessage: 'ukupno',
                selectedMessage: 'odabran'
              }">

            <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <app-inner-base [osobaID]="row.osobaID"></app-inner-base>
                </ng-template>
            </ngx-datatable-row-detail>

            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                [canAutoResize]="false">
                <ng-template ngx-datatable-header-template>
                    Radnje
                </ng-template>
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a href="javascript:void(0)" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                        <span class="fas fa-minus-square" *ngIf="expanded; else notExpanded"></span>
                        <ng-template #notExpanded>
                            <span class="fas fa-plus-square"></span>
                        </ng-template>
                    </a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                [canAutoResize]="false">
                <ng-template ngx-datatable-header-template>
                    Br.
                </ng-template>
                <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{ rowIndex + 1 }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Ime / Naziv vlasnika računa" prop="naziv" [width]="150"></ngx-datatable-column>
            <ngx-datatable-column name="Broj uvezenih računa" prop="uvezeneIzliste" [width]="150"></ngx-datatable-column>
            <ngx-datatable-column name="Ukupan broj transakcija (U/I)" prop="brojTransakcija" [width]="150">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span>{{ value }} ({{ row.brojUplata }}/{{ row.brojIsplata }})</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ukupan iznos transakcija (U/I)" prop="iznosTransakcija" [width]="150">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ value | currency:'HRK':'symbol':'4.2-2':'hr'}} ({{ row.iznosUplata | currency:'HRK':'symbol':'4.2-2':'hr' }} / {{ row.iznosIsplata | currency:'HRK':'symbol':'4.2-2':'hr' }})
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="actions" [width]="130" [resizeable]="false" [sortable]="false"
                [draggable]="false" [canAutoResize]="false">
                <ng-template ngx-datatable-header-template>
                    Akcije
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <div class="" role="group" aria-label="First group">
                        <button type="button" class="btn btn-sm btn-outline-primary mr-2 px-2 py-0"
                            (click)="editPerson(row)"><small class="fas fa-pencil-alt"></small></button>
                        <button type="button" class="btn btn-sm btn-outline-danger px-2 py-0"
                            (click)="deletePerson(row)"><small class="fas fa-trash"></small></button>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
<ng-template #deleteActivated>
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" style="width:3.5rem; height: 3.5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="d-flex flex-column justify-content-center ml-3">
            <span class="font-weight-bold">Molimo pričekajte brisanje izvoda</span>
        </div>
    </div>
</ng-template>