<header class="bg-primary col-sm-12 text-center text-light p-1">
    <app-toolbar-info [moduleFontIcon]="moduleFontIcon" [moduleName]="moduleName"></app-toolbar-info>
</header>

<div>
  <app-visualisation-toolbar
    [displayType]="displayType"
    [addUserAction]="addUser.bind(this)"
    [expandViewAction]="expandView.bind(this)"
    [contractViewAction]="contractView.bind(this)"
    [notificationsAction]="notifications.bind(this)"
    [filterAction]="filter.bind(this)"
    [exportAction]="export.bind(this)">
  </app-visualisation-toolbar>

  <div id="chart-area">
    <div class="d-flex">
      <div class="col-sm-6 pb-3 mb-3">
        <div class="chart d-block">
          <canvas baseChart
            [datasets]="barChartDataU"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="chart d-block">
          <canvas baseChart
            [datasets]="barChartDataI"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="ml-5">
    <p class="text-center mr-5">Vremenski period u dijagramu</p>
    <br>
    <div class="d-flex justify-content-center">
      <div class="form-check form-check-inline mr-5" *ngFor="let choice of timespanChoices">
        <input class="form-check-input" 
               type="radio" 
               name="{{ choice.inputName }}" 
               id="{{ choice.inputName + choice.id }}" 
               [value]="choice.id"
               [(ngModel)]="timespanChoice"
               (ngModelChange)="changeGraphTimespan($event)">
        <label class="form-check-label" for="{{ choice.inputName + choice.id }}">{{ choice.name}}</label>
      </div>
    </div>
  </div>
</div>
