<header class="bg-primary col-sm-12 text-center text-light p-1">
    <app-toolbar-info [moduleFontIcon]="moduleFontIcon" [moduleName]="moduleName"></app-toolbar-info>
</header>

<div class="col-12 bg-light border py-3">
    <div class="row">
        <div class="col-2">
            <button type="submit" class="btn btn-secondary" (click)="exportAsXLSX();">
                <span class="fas fa-file-excel"></span>
                <span class="ml-2">Izvoz u Excel</span>
            </button>
        </div>
        <div class="col-4 offset-6 d-flex justify-content-between">
            <button type="button" class="btn btn-secondary">
                <span class="fas fa-bell"></span>
                <span class="ml-2">Alarmiranje</span>
            </button>
            <button type="button" class="btn btn-secondary" (click)="openFilterModal()">
                <span class="fas fa-filter"></span>
                <span class="ml-2">Filtriranje</span>
            </button>
        </div>
    </div>
</div>

<div class="mb-3" *ngIf="isActiveFilter">
    <app-filter-alert [storageData]="modalFilterValues"></app-filter-alert>
</div>

<div class="col-md-12 pl-0 mb-3">
    <ul class="mt-3 mb-2 list-group list-group-horizontal" *ngIf="topTableBarInfo">
        <li class="list-group-item d-flex justify-content-between">
            <small>Ukupni broj zapisa</small>
            <span class="badge badge-primary badge-pill ml-5">{{ topTableBarInfo.brojTransakcija }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <small>Dolazne transakcije</small>
            <span class="badge badge-primary badge-pill ml-5">{{ topTableBarInfo.brojUplata }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <small>Odlazne transakcije</small>
            <span class="badge badge-primary badge-pill ml-5">{{ topTableBarInfo.brojIsplata }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <small>Broj uvezenih izvoda</small>
            <span class="badge badge-primary badge-pill ml-5">{{ topTableBarInfo.brojIzvoda }}</span>
        </li>
        <!-- <li class="list-group-item p-0">
            <button type="button" class="btn btn-primary" title="Prikaz uvezenih izvoda">
                <span class="fas fa-binoculars"></span>
            </button>
        </li> -->
    </ul>
</div>

<div class="col-12 py-2 px-0">
    <div class="container-fluid px-0">
        <div class="row mb-4">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <input type="text" class="form-control form-rounded" [(ngModel)]="paginationRequest.searchString"
                    placeholder="Upišite pojam pretrage">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <button type="button" class="mr-3 btn btn-primary" (click)="fetchPage()">
                    <span class="fas fa-search"></span>
                    <span class="ml-2">Traži</span>
                </button>
                <button type="button" class="btn btn-outline-secondary" (click)="removeFilter()">
                    <span class="fas fa-times"></span>
                    <span class="ml-2">Poništi pretragu</span>
                </button>
            </div>
        </div>
        <ngx-datatable class="material mt-3" columnMode="force" [headerHeight]="'auto'" [footerHeight]="50"
            [rowHeight]="'auto'" [loadingIndicator]="isLoading" [externalPaging]="true" [rows]="pagedResult?.model"
            [count]="pagedResult?.itemsCount" [offset]="currentPage" limit="{{pageSize}}" [virtualization]="true" (page)="setPage($event)"
            [selected]="selected"   [selectionType]="SelectionType.multi" (select)="onSelect($event)" (sort)="onSort($event)" [externalSorting]="true"
            [messages]="{
            emptyMessage:'Nema rezultata',
            totalMessage: pagedResult ? pagedResult.message : 'Ukupan broj'
        }">
            <ngx-datatable-column name="Broj računa" prop="a_RN" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="SWIFT/BIC" prop="a_FIS" [width]="120"></ngx-datatable-column>
            <ngx-datatable-column name="Banka računa" prop="a_FIN" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Država računa" prop="a_FID" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Naziv vlasnika rač. A" prop="a_NA" [width]="130">
            </ngx-datatable-column>
            <ngx-datatable-column name="Datum / vrijeme" prop="t_DV" [width]="100">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ value | date: 'dd.MM.yyyy HH:mm'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Referentni broj" prop="t_REF" [width]="130"></ngx-datatable-column>
            <ngx-datatable-column name="Vrsta" prop="t_VR" [width]="120"></ngx-datatable-column>
            <ngx-datatable-column name="Opis" prop="t_DESC" [width]="170"></ngx-datatable-column>
            <ngx-datatable-column name="Iznos" prop="t_IZ" [width]="120"></ngx-datatable-column>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ value | currency:'':'':'4.2-2':'hr'}}
                </ng-template>
            <ngx-datatable-column name="Valuta" prop="t_VL" [width]="120"></ngx-datatable-column>
            <ngx-datatable-column name="Konvertirani iznos" prop="t_KONV_IZ" [width]="120">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ value | currency:'HRK':'symbol':'4.2-2':'hr'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Smjer" prop="t_DIR" [width]="120"></ngx-datatable-column>
            <ngx-datatable-column name="Broj računa" prop="b_RN" [width]="120"></ngx-datatable-column>
            <ngx-datatable-column name="SWIFT/BIC" prop="b_FIS" [width]="120"></ngx-datatable-column>
            <ngx-datatable-column name="Banka računa" prop="b_FIN" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Država računa" prop="b_FID" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Naziv vlasnika rač. B" prop="b_NA" [width]="120"></ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
