/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
// regular style toast 
@import '~ngx-toastr/toastr';

ng-select {
    &.ng-invalid.ng-touched .ng-select-container {
        border-color: red;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px lightcoral;
    }

    &.ng-invalid.is-invalid .ng-select-container {
        border-color: red;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px lightcoral;
    }

    &.is-invalid + .invalid-feedback{
        display: block;
    }

    &.ng-select-container{
        min-height: 31px !important;
    }
}
