<div class="modal-header">
    <h4 class="modal-title text-primary" id="modal-title">Dodavanje dozvola za rad na predmetu</h4>
  </div>
  <div class="modal-body pb-0">
    <form [formGroup]="subjectPermisionGroup" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <section class="mb-4">
          <h6 class="mb-3">
            <span class="badge badge-pill badge-dark mr-2">1</span>
            Unesite podatke za pretraživanje imenika
          </h6>
          <div class="form-group row mb-3">
              <label for="Ime" class="col-2 col-form-label">
                  Ime
              </label>
              <div class="col-10">
                  <input type="text" class="form-control" id="ime"
                  name="ime" placeholder="Upišite tekst"
                  formControlName="ime"
                  [ngClass]="{'is-invalid': ime.invalid && (ime.dirty || ime.touched)}">
                <div class="invalid-feedback">Polje je obavezno</div>
              </div>
          </div>
          <div class="form-group row mb-3">
              <label for="Prezime" class="col-sm-2 col-form-label">
                  Prezime
              </label>
              <div class="col-10">
                  <input type="text" class="form-control" id="prezime"
                  name="prezime" placeholder="Upišite tekst"
                  formControlName="prezime"
                  [ngClass]="{'is-invalid': prezime.invalid && (prezime.dirty || prezime.touched)}">
                  <div class="invalid-feedback">Polje je obavezno</div>
              </div>
          </div>
          <div class="form-group row mb-3">
              <label for="loginName" class="col-sm-2 col-form-label">
                  Korisničko ime
              </label>
              <div class="col-10">
                  <input type="text" class="form-control" id="loginName"
                  name="loginName" placeholder="Upišite tekst"
                  formControlName="loginName"
                  [ngClass]="{'is-invalid': loginName.invalid && (loginName.dirty || loginName.touched)}">
                  <div class="invalid-feedback">Polje je obavezno</div>
              </div>
          </div>
          <div class="form-check float-right">
              <input class="form-check-input" type="checkbox" (click)="onSelectAdalSearch($event)" value="isAdalSearchActive" id="isAdalSearchActive">
              <label class="form-check-label" for="isAdalSearchActive">
                  Pretraživanje AD korisnika
              </label>
            </div>
          <button type="button" ngbAutofocus class="btn btn-primary mb-3" (click)="filterUserTable()">
            <span class="fas fa-search"></span>
            <span class="ml-2">Traži</span>
          </button>
        </section>

        <section>
          <h6>
            <span class="badge badge-pill badge-dark mr-2 mb-2">2</span>
            Odaberite korisnika <span class="text-danger">*</span>
          </h6>
          <div class="col-12 mb-5 px-0 able-overflow-y">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Ime</th>
                          <th scope="col">Prezime</th>
                          <th scope="col">Korisničko ime</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let permission of filteredSubjectPermissions; index as i" style="cursor: pointer;" (dblclick)="method2($event, permission)" (click)="selectPermissionUser($event, permission);" [class.selected]="permission.Flag === true">
                          <td>{{ permission.ime }}</td>
                          <td>{{ permission.prezime }}</td>
                          <td>{{ permission.loginName }}</td>
                      </tr>
                      <tr *ngIf="filteredSubjectPermissions.length == 0">
                          <td>n/a</td>
                          <td>n/a</td>
                          <td colspan="2">n/a</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </section>
      </div>
      <div class="modal-footer px-0">
        <button type="button" class="btn btn-outline-secondary mr-auto" (click)="modal.dismiss()">
          <span class="fas fa-times"></span>
          <span class="ml-2">Odustani</span>
        </button>
        <button type="submit" ngbAutofocus class="btn btn-primary">
          <span class="fas fa-plus-circle"></span>
          <span class="ml-2">Dodaj</span>
        </button>
      </div>
    </form>
  </div>

