<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upozorenje</h4>
    <button type="button" class="button-no-css" (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Želite li odbaciti unesene promjene?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-rounded" (click)="activeModal.close(false)">Ne</button>
    <button type="button" class="btn btn-dark btn-rounded ml-auto" (click)="activeModal.close(true)">Da</button>
</div>