<div class="modal-header">
    <h4 class="modal-title text-primary" *ngIf="person; else addEntry">Uređivanje osobe na predmetu</h4>
    <ng-template #addEntry>
        <h4 class="modal-title text-primary">Dodavanje osobe na predmet</h4>
    </ng-template>
    <a class="close" aria-label="Close" (click)="exitModal()">
        <span class="fas fa-times"></span>
    </a>
</div>

<div class="modal-body pb-0">
    <form [formGroup]="personGroup" (ngSubmit)="onSubmit()" #myForm="ngForm">
        <div class="card-body px-0 pt-0">
            <div class="col-12 mb-3">
                <label for="Naziv">
                    Naziv <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="Naziv" name="Naziv"
                    placeholder="Naziv osobe" formControlName="Naziv" autocomplete="off"
                    [ngClass]="{'is-invalid': Naziv.invalid && (Naziv.dirty || Naziv.touched || myForm.submitted)}">
                <div class="invalid-feedback">Polje je obavezno</div>
            </div>
            <div class="col-12 mb-3">
                <label for="TipOsobe">
                    Tip osobe <span class="text-danger">*</span>
                </label>
                <ng-select [items]="personTypes" bindLabel="name" bindValue="id" labelForId="state" [clearable]="false"
                    placeholder="Izaberi..." clearAllText="Clear" formControlName="TipOsobe"
                    [ngClass]="{'is-invalid': TipOsobe.invalid && (TipOsobe.dirty || TipOsobe.touched || myForm.submitted)}">
                </ng-select>
                <div class="invalid-feedback">Polje je obavezno</div>
            </div>
            <div class="col-12 mb-3">
                <label for="VrstaIdBroja">
                    Vrsta ID broja
                </label>
                <ng-select [items]="identificationTypes" bindLabel="name" bindValue="id" labelForId="state"
                    placeholder="Izaberi..." clearAllText="Clear" formControlName="VrstaIdBroja" (change)="onChangeIDType($event)"
                    [ngClass]="{'is-invalid': VrstaIdBroja.invalid && (VrstaIdBroja.dirty || VrstaIdBroja.touched || myForm.submitted)}">
                </ng-select>
            </div>
            <div class="col-12 mb-3">
                <label for="IdBroj">
                    ID broj <span class="text-danger" *ngIf="IdBroj.validator">*</span>
                </label>
                <input type="text" class="form-control" id="IdBroj" name="IdBroj"
                    placeholder="ID broj osobe" formControlName="IdBroj" autocomplete="off"
                    [ngClass]="{'is-invalid': IdBroj.invalid && (IdBroj.dirty || IdBroj.touched || myForm.submitted)}">
            </div>
        </div>
        <div class="modal-footer px-0">
            <button type="button" class="btn btn-outline-secondary mr-auto" (click)="exitModal()">
              <span class="fas fa-times"></span>
              <span class="ml-2">Odustani</span>
            </button>
            <button type="submit" ngbAutofocus class="btn btn-primary btn-rounded">
              <span class="fas fa-user-plus"></span>
              <span class="ml-2">Dodaj osobu</span>
            </button>
        </div>
    </form>
</div>
