<form [formGroup]="subjectFormGroup" (ngSubmit)="onSubmit()" #myForm="ngForm">

  <div class="col-12 mt-1 mb-2 px-0">
    <div class="py-2 px-2">
      <div *ngIf="subjectId; else noSubjectId">
        <h4>
          <span class="fas fa-folder-open"></span>
          <strong class="ml-2">Uredi predmet</strong>
        </h4>
      </div>
      <ng-template #noSubjectId>
        <h4>
          <span class="fas fa-folder-open"></span>
          <strong class="ml-2">Novi predmet</strong>
        </h4>
      </ng-template>
    </div>
  </div>

  <div class="col-12 bg-light border py-3 mb-5">
    <div class="row">
      <div class="col-10">
        <button type="submit" class="btn btn-primary mr-3">
          <span class="fas fa-check-square"></span>
          <span class="ml-2">Pohrani promjene</span>
        </button>
        <button type="button" class="btn btn-outline-secondary mr-3" (click)="navigateToWelcome()">
          <span class="fas fa-times"></span>
          <span class="ml-2">Odustani</span>
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="input-group">
      <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
        <label for="brojPredmeta">
          Broj predmeta <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" id="brojPredmeta" name="brojPredmeta" placeholder="Mjesec, npr. 14. mjesec" formControlName="brojPredmeta" [ngClass]="{'is-invalid': brojPredmeta.invalid && (brojPredmeta.dirty || brojPredmeta.touched || myForm.submitted)}">
        <div class="invalid-feedback">Polje je obavezno</div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
        <label for="datumOtvaranja">Datum otvaranja predmeta <span class="text-danger">*</span></label>
        <div class="input-group">
          <input class="form-control" placeholder="dd.mm.yyyy." name="dp" formControlName="datumOtvaranja" ngbDatepicker #d="ngbDatepicker" [readonly]="true" [ngClass]="{'is-invalid': datumOtvaranja.invalid && (datumOtvaranja.dirty || datumOtvaranja.touched || myForm.submitted)}" [minDate]="{year: 2000, month: 1, day: 1}" [maxDate]="dynamicToday">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar-box" (click)="d.toggle()" type="button"><span class="fas fa-calendar"></span></button>
          </div>
          <div class="invalid-feedback">Polje je obavezno</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
      <label for="nazivPredmeta">Naziv predmeta <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="nazivPredmeta" name="nazivPredmeta" placeholder="Mjesec, npr. 14. mjesec" formControlName="nazivPredmeta" [ngClass]="{'is-invalid': nazivPredmeta.invalid && (nazivPredmeta.dirty || nazivPredmeta.touched || myForm.submitted)}">
      <div class="invalid-feedback">Polje je obavezno</div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
      <label for="statusPredmetaID">Status predmeta <span class="text-danger">*</span></label>
      <ng-select [items]="subjectStatuses" bindLabel="name" bindValue="statusPredmetaID" labelForId="state" placeholder="Izaberi..." clearAllText="Clear" formControlName="statusPredmetaID" [ngClass]="{'is-invalid': statusPredmetaID.invalid && (statusPredmetaID.dirty || statusPredmetaID.touched || myForm.submitted)}">
      </ng-select>
      <div class="invalid-feedback">Polje je obavezno</div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-5">
      <label for="permission">
        Dozvole za rad na predmetu <span class="text-danger">*</span>
      </label>
      <table class="table table-striped" formArrayName="predmetKorisnici" *ngIf="predmetKorisnici.controls">
        <thead>
          <tr>
            <th scope="col">Broj</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Korisničko ime</th>
            <th scope="col">Radnje</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let korisnik of predmetKorisnici.controls; let userIndex = index" [formGroupName]="userIndex">
            <th scope="row">{{ userIndex + 1 }}</th>
            <td>{{ korisnik.get('Ime').value }}</td>
            <td>{{ korisnik.get('Prezime').value }}</td>
            <td>{{ korisnik.get('LoginName').value }}</td>
            <td>
              <button type="button" class="btn btn-outline-danger btn-sm px-3 py-1" (click)="removePermission(korisnik,userIndex)">
                <small class="fas fa-trash"></small>
                <span class="ml-2">Briši</span>
              </button>
            </td>
          </tr>
          <tr *ngIf="predmetKorisnici.controls.length == 0">
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-secondary float-right" (click)="openPermissionModal()">
        <span class="fas fa-plus-square"></span>
        <span class="ml-2">Dodaj novu dozvolu</span>
      </button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
      <label for="napomena">Napomena</label>
      <textarea class="form-control" placeholder="Upišite napomenu..." rows="5" formControlName="napomena" [ngClass]="{'is-invalid': napomena.invalid && (napomena.dirty || napomena.touched || myForm.submitted)}"></textarea>
      <div class="invalid-feedback">Polje je obavezno</div>
    </div>
  </div>
</form>
