.network-canvas {
  width: 100%;
  height: 75vh;
}

.infobox {
  position: absolute;
  z-index: 20;
  right: 1px;
}

.card {
  max-height: 78vh;
  overflow: auto;
}

pre {
  max-height: 55vh;
  outline: 1px dotted silver;
}
