<header class="bg-primary col-sm-12 text-center text-light p-1">
  <app-toolbar-info [moduleFontIcon]="moduleFontIcon" [moduleName]="moduleName"></app-toolbar-info>
</header>

<div>
  <app-visualisation-toolbar
    [displayType]="displayType"
    [addUserAction]="addUser.bind(this)"
    [expandViewAction]="expandView.bind(this)"
    [contractViewAction]="contractView.bind(this)"
    [notificationsAction]="notifications.bind(this)"
    [filterAction]="filter.bind(this)"
    [exportAction]="export.bind(this)">
  </app-visualisation-toolbar>

  <div class="infobox float-left col-sm-3" *ngIf="nodeActive !== null">
    <app-userview
      [node]="nodeActive"
      [isSelectedActiveUser]="isSelectedActiveUser"
      [activeUser]="activeUser"
      (close)="onClosed()"
      *ngIf="nodeActive.type === 'user'">
    </app-userview>
    <app-accountview
      [node]="nodeActive"
      [isSelectedActiveUser]="isSelectedActiveUser"
      [activeUser]="activeUser"
      (close)="onClosed()"
      *ngIf="nodeActive.type === 'account'">
    </app-accountview>
  </div>
  <div class="infobox float-left col-sm-3" *ngIf="edgeActive !== null">
    <app-transactionview
      [node]="edgeActive"
      (close)="onClosed()">
    </app-transactionview>
  </div>

  <div id="network" class="network-canvas p-0 m-0"></div>
</div>
